@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.Portfolio{
  text-align: center;
  position: absolute;
  top:10%;
  width: 100%;
  height: 100%;
}

.container{
  position: relative;
  top:-15vh;
}

.iframes{
  width: 45%;
  height: 38vw;
}


.Portfolio-header {
  position: relative;
  color: white;
  font-size:3vw;
  font-family: 'Nevis';
  letter-spacing: -4px;
  top:-10vh;
}

.instructions{
  color: white;
  font-family: 'Josefin Sans';
  position: relative;
  top:-12vh;
}


.Portfolio-navigation{
  position: relative;
  top: -25vh;
  font-family: 'Nevis';
  color: white;
  font-size: 1vw;
}
